<!--
  sem mais escutar o evento
  <app-nova-transferencia (aoTransferir)="transferir($event)"></app-nova-transferencia>
-->

<!--
<app-nova-transferencia></app-nova-transferencia>

<app-extrato></app-extrato>
-->

<header>
  <!-- routerLink evita o recarregamento, carrega o componente no router-outlet -->
  <!-- routerLinkActive ativa classe css quando a rota esta ativa -->
  <a routerLink="extrato">Bytebank</a>
  <a routerLink="nova-transferencia" routerLinkActive="ativo">Nova transferência</a>
</header>
<main>
  <!-- agorando utilizando as rotas -->
  <!-- serve para renderizar os componentes -->
  <router-outlet></router-outlet>
</main>
